.backtopleft {
    margin: 10px 15px;
}

.btn {
    outline: none;
    background-color: transparent;
    border: none;
}

.logo_getjob {
    margin: -37px 0 0 56px;
}

.logo_profile {
    margin: -45px 0 0 80%;
}

.navbar {
    height: 64px;
    width: 100%;
}