.logo {
  text-align: center;
}

.login_main {
  text-align: center;
  margin-top: 10%;
}

.login__input {
  border: none;
  background: #8A9A93;
  margin: 0 0 10px 0;
  padding: 10px;
  width: 250px;
  border-radius: 3px;
  color: #D9D9D9;
  font-size: 12px;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.login__input::placeholder {
  color: #D9D9D9;
  opacity: 1;
}

.login__input::-ms-input-placeholder {
  color: #D9D9D9;
}

.login__input:-ms-input-placeholder {
  color: #D9D9D9;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
outline: none;
}

.register__btn {
  border: none;
  background: #8A9A93;
  margin: 15px 0 0 0;
  padding: 10px;
  width: 150px;
  border-radius: 30px;
  color: #D9D9D9;
  font-size: 12px;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3); 
}

.regisask {
  margin: 15px 0 0 0;
  color: #D9D9D9;
}

.regisask a {
  text-decoration: none;
  color: #D9D9D9;
}

@media screen and (min-width: 390px) and (max-width: 480px) {
.box {
    margin-top: 100%;
  }
}

/* Iphone SE */
@media screen and (min-width: 290px) and (max-width: 380px) {
.box {
    margin-top: 90%;
  } 
}

/* Galaxy Fold */
@media screen and (min-width: 280px) and (max-width: 285px) {
.box {
    margin-top: 110%;
  }
}